body {
    margin: 0;
    padding: 0;
}

div {
    display: inline-block;
    width: 33%;
    height: 700px;
    margin: 0;
}

.left {
    background-color: green;
}

.middle {
    background-color: red;
}

.right {
    background-color: yellow;
    vertical-align: top;
}
.topright{
    height: 70%;
    display: block;
}

.bottomright {
    color: white;
    background-color: purple;
    height: 27%;
    width: 100%;
    text-align: center;
    line-height: 200px;
}
